@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

#menu{
    background-color: rgb(37, 37, 39);
}

#menu ul {
    max-width: 800px;
    list-style: none;
    padding: 0;
}

#menu ul li {
    display: inline;
}

#menu ul li a {
    color: #FFF;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
    font-size: 30px;
}

#menu ul li a:hover {
    background-color: rgb(24, 139, 233);
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #696969;
}
h1{
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 50px;
    margin-top: 50px;
}
h2{
    font-size: 45px;
    margin-bottom: 40px;
}
form{
    margin-right: 10px;
    font-size: 23px;
    font-weight: bold;
}
form input{
    margin-left: 10px;
    font-size: 25px;
    border: 4px black solid;
    border-radius: 10px;
}
.contagem{
    font-family: sans-serif;
    color: black;
    display: inline-block;
    text-align: center;
    font-size: 30px;
}
.div-contagem{
    width: 170px;
    height: 140px;
    padding: 30px;
    font-weight: bold;
    border-radius: 10px;
    background-color: #FFF;
    display: inline-block;
}
span{
    padding: 20px;
    border-radius: 10px;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 40px;
    display: inline-block;
}